{{#partial "content"}}

    <br>
    <br>
    <h1 style="text-align:center; font-weight:bolder;">Create a Department</h1>
    <hr>

    <form action="/departments" method="post">

        <div class="form-group">
            <label for="nameOfDepartment">Department Name</label>
            <input type="text" name="nameOfDepartment" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="type">Description</label>
            <input type="text" name="detail" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="numberEmployees">Number of employees</label>
            <input type="number" id="numberEmployees" name="numberEmployees" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>

{{/partial}}

{{>layout.hbs}}
